.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-Header{
  display:flex;
  width: 100%;
}

.Image{
  display: flex;
  width: 200px;
  height: 200px;
  
}

h1{
  
  font-size: 100px;
  text-align: center; 
}

@media (prefers-reduced-motion: no-preference) {
  .Image {
    animation: App-logo-spin infinite 0.001s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}